@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/dracula.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    background: #ffffff;
}
#root {
    height: 100%;
}
.App{
    position: relative;
    height: calc(100% - 33px);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}
.pad-section{
    padding: 10px;
}
.page-title{
    background: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-title img {
    width: 40px;
    vertical-align: middle;
}
.no-conf {
    text-align: center;
    position: relative;
    top: 40%;
}
.options-box {
    width: 100%;
}
.status-bar {
    position: fixed;
    bottom: 0px;
    width: calc(100%);
    height: 34px;
    padding: 4px;
    padding-left: 0px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.status-button {
    margin-left: 10px;
    color: white;
    width: 0.60em !important;
    transform: translateY(0.25em);
}

.status-message {
    padding-left: 15px;
}

#ban-img {
    position: absolute;
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
}

.section-banner {
    color: white !important;
    padding: 50px 0px;
}

.section-banner h4 {
    color: white;
}
.section-banner p {
    color: white;
}
.tasks {
    background: #263238;
    padding: 4px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0px;
    border-radius: 0px 14.5px 14.5px 0px;
    margin-top: -4px;
    margin-bottom: -4px;
    color: white;
    display: inline-block;
}
.blue {
    background: #8DD6F9;
    color: black;
}
.red {
    background: #ee5555;
    color: white;
}
.green {
    background: #55aa55;
    color: white;
}
.CodeMirror {
    height: 100%;
    max-height: 80vh
}
.react-codemirror2 {
    height: 100%;
}

.grey-card{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    position: relative;
    margin: auto;
}

.rotation {
    animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
.slideIn {
    animation: slideIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slideOut {
    animation: slideOut 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


#banner{
    height: 150px;
    background-color: #263238;
    padding: 10px;
}

#banner .logo{
    width: 200px;
}

.ais-Hits-list  {
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    column-count: 4;
    column-gap: 5px;
}
.ais-Hits-list li {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    transform: scale(0.95);
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ais-Hits-list li:hover {
    transform: scale(1);
}

.ais-Hits-list a {
    text-decoration: none !important;
}

@media screen and (max-width: 800px) {
    .ais-Hits-list {
        column-count: 3;
    }
}

@media screen and (max-width: 600px) {
    .ais-Hits-list {
        column-count: 2;
    }
}

@media screen and (max-width: 450px) {
    .ais-Hits-list {
        column-count: 1;
    }
}

.scaffold-description {
    width: 600px;
}

hr {
    border-top: 0.5px solid #eee;
}
.ais-SearchBox-input {
    display: block;
    width: 98%;
    padding: 1em 3em;
    max-width: 300px;
    margin: 10px auto;
    position: relative;
    border: none;
    background-color: white;
    border-radius: 25px;
    color: #263238;
    height: 50px;
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ais-SearchBox-input::placeholder {
    text-align: center;
    padding-left: 15px;
    color: #aaaaaa;
}
.ais-SearchBox-input:focus {
    outline: none;
    padding: 1em 3em;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
ul.ais-Hits-list {
    padding: 0;
}

.ais-SearchBox-reset svg,
.ais-SearchBox-submit svg {
    display: none;
}

.ais-SearchBox-reset {
    display: none;
}

button.ais-SearchBox-submit {
    display: none;
}

.ais-Hits-item {
    display: inline-block;
}