@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/dracula.css';
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: #e0e0ef;
}
#root {
    height: 100%;
}
.App{
    position: relative;
    height: calc(100% - 120px);
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    background: white;
    margin-top: -60px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.pad-section{
    padding: 10px;
}
.page-title{
    padding-left: 30px;
    padding-top: 10px;
}
.no-conf {
    text-align: center;
    position: relative;
    top: 40%;
}
.CodeMirror {
    height: 100%;
    max-height: 80vh
}
.react-codemirror2 {
    height: 100%;
}

.grey-card{
    background: #F9FAFB;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* Shadows / Flat */

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    position: relative;
    margin: auto;
}

.rotation {
    animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
.slideIn {
    animation: slideIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slideOut {
    animation: slideOut 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


#banner{
    height: 150px;
    background-color: #263238;
    padding: 10px;
}

#banner .logo{
    width: 200px;
}